@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
    @apply 
    md:max-h-[300px] 
    max-h-[500px]
    w-screen
    bg-[#655443] 
    flex flex-col 
    justify-end
}
    .contenedorSuperior{
        @apply
        md:px-24 
        p-5 
        md:pt-4
        md:pb-8
        font-[Laila]
        flex md:flex-row flex-col 
        md:items-center
        md:justify-between justify-center 
        w-screen gap-4
    }
        .uls {
            @apply
            ml-10
            flex md:-translate-x-10 
            pr-10
            md:gap-32 gap-16 md:justify-start justify-center
        }
            .subtitulo{
                @apply text-[#4c3f37] 
                brightness-75 font-extrabold font-[Laila] text-xl
            }
            .li{
                @apply ml-5 pt-1 text-[#b6ab8e] font-[Laila]
            }
        .logo{
            @apply
            lg:translate-y-0 md:-translate-y-5 translate-y-0
            h-[80px] 
            md:text-left text-center
        }
            .marca {
                @apply 
                lg:text-5xl md:text-4xl text-3xl 
                font-bold 
                tracking-widest
                
            }

    .barra{
        @apply 
        bg-[#4c3f37]
        h-[5vh]
        flex
        justify-between
        items-center
        px-10
    }
        .programador {
            @apply text-[#b6ab8e] text-sm
        }
        .contenedorRedes{
            @apply flex gap-3
        }
            .red{
                @apply
                h-5 w-5
            }