@tailwind base;
@tailwind components;
@tailwind utilities;

.imgContainer {
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    transition-delay: 1500ms;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    @apply flex max-w-[400px] min-w-[400px] h-[300px] ;

}
.generalContainer {
    height: max-content;
    @apply inline-flex relative justify-center items-center p-4 gap-5;
}

.img {
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}
.btn {
    height: 52px;
    width: 32px;
    @apply p-3;
}