@tailwind base;
@tailwind components;
@tailwind utilities;

.imgContainer {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    transition-delay: 1800ms;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    @apply flex ;

}
.generalContainer {
    @apply flex justify-center items-stretch text-[#d1cbb7]
    relative;
}

.img {
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
    @apply rounded-md
}
.btn {
   @apply h-full p-2 w-[0.5em] absolute md:block hidden
}
.right{ 
    border-radius: 0 6px 0 0;
    @apply right-6
}
.left{
    border-radius: 6px 0 0 0;
    @apply -left-1
}