@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de Departamentos */
.container {
    overflow: hidden;
    @apply flex justify-center w-full h-full items-center pt-10 px-5 lg:flex-row flex-col ;
}
.imgActive {
    opacity: 1;
    display: flex;
    transition: all .5s;
    object-fit: cover;
    @apply lg:w-3/5  rounded-2xl bg-contain drop-shadow-lg lg:drop-shadow-2xl ;  
}

.imgHidden {
    transition: all .5s;
    opacity: 0;
    height: 0;
}


.textContainer { 
    @apply lg:w-2/5 w-full h-full rounded-lg flex flex-col lg:p-16 gap-5  bg-light;
}
.titulo {
    @apply font-[Oswald] md:text-6xl text-4xl font-bold;
}