@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    @apply my-20 w-screen flex flex-col items-center space-y-14;
}

.imgContainer {
    @apply flex flex-row w-full items-center justify-center ;
}

.image {
    height: 650px;
    background-size: cover;
    transition: all 700ms;
    background-position: center;
    @apply border-x-2 border-light;
}

.open {
    
    @apply w-2/3 ;
}
.close {
    
    @apply w-16 after:content-[''] after:block after:h-full after:bg-neutral-800/60 ;
}


.btn {
    height: 650px;
    width: 50px;
    @apply  bg-backColor cursor-pointer flex items-center justify-center;
}
.text {
    @apply text-6xl font-[Oswald] font-bold drop-shadow-lg;
}